<footer class="border-top footer text-muted">
    <div class="container content-en">
        &copy; 2025 - <img src="/ark.png" alt="ARK" class="ark"/> - <a href="tel:+989377899377">ARK</a>
    </div>
</footer>