@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="toast-container position-fixed top-0 start-50 p-3">
        <div class="toast text-light bg-@statusMessageClass" role="alert" aria-live="assertive"
             aria-atomic="true" data-bs-delay="3000">
            <div class="toast-body d-flex justify-content-between">
                <div>@Localizer.TextIgnoreCase(Model)</div>
                <button type="button" class="btn-close text-light" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}