bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
/.vs/
iSarv/.vs/
iSarv/.vs
.idea/
/.idea/
iSarv/.idea/
iSarv/.idea
.vscode/
/.vscode/
iSarv/.vscode/
iSarv/.vscode
node_modules/
/wwwroot/lib/fontawesome/
