@model CulturePickerModel

<div>
    <form method="GET">
        <div>
            @foreach (var culture in Model.SupportedCultures)
            {
                <input class="btn-check btn-sm" type="radio" name="culture" id="culture-picker-@culture.Name"
                       value="@culture.Name" checked="@(Model.CurrentUICulture.Name == culture.Name)" onchange="$(this).closest('form').submit();">
                <label class="btn btn-link text-decoration-none p-0" for="culture-picker-@culture.Name">
                    @culture.TwoLetterISOLanguageName.ToUpper()
                </label>
            }
        </div>
    </form>
</div>