<footer class="border-top text-warning footer">
    <div class="container-fluid copyright">
        <div class="container text-end content-en">
            &copy; 2025 - <img src="/ark.png" alt="ARK" class="ark"/> - <a href="tel:+989377899377">ARK</a>
        </div>
    </div>
</footer>