<!-- Spinner Start -->
<div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div
    class="container-fluid bg-dark text-white-50 py-2 px-0">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-7 px-5 text-start content-en">
            <div class="h-100 d-inline-flex align-items-center ms-4">
                <small class="fa fa-phone-alt m-2"></small>
                <small>@Configuration["Site:Phone"]</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center ms-4">
                <small class="far fa-envelope-open m-2"></small>
                <small>@Configuration["Site:Email"]</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center ms-4">
                <small class="far fa-clock m-2"></small>
                <small>@Localizer.TextIgnoreCase("Sat - Wed : 09 AM - 09 PM")</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <vc:culture-picker></vc:culture-picker>
        </div>
    </div>
</div>
<!-- Topbar End -->