@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeletePersonalDataModel
@{
    ViewData["Title"] = Localizer.Text("Delete Personal Data");
    ViewData["Menu"] = "Index";
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer.Text("Deleting this data will permanently remove your account, and this cannot be recovered.")</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-outline mb-1">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-outline mb-1" data-mdb-input-init>
                <input asp-for="Input.Password" class="form-control" />
                <label asp-for="Input.Password" class="form-label"></label>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        }
        <button class="btn btn-danger" type="submit">@Localizer.Text("Delete data and close my account")</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptPartial" />
}