@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SetPasswordModel
@{
    ViewData["Title"] = Localizer.Text("Set password");
    ViewData["Menu"] = "Index";
}

<h4>@Localizer.Text("Set your password")</h4>
<partial name="_ToastMessage" for="ToastMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-outline mb-1" data-mdb-input-init>
                <input asp-for="Input.NewPassword" class="form-control" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
            </div>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            
            <div class="form-outline mb-1" data-mdb-input-init>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            
            <button type="submit" class="btn btn-primary">@Localizer.Text("Set password")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptPartial" />
}