@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = Localizer.Text("Forgot your password?");
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger mb-1"></div>
    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.Email" class="form-control"/>
        <label asp-for="Input.Email" class="form-label"></label>
    </div>
    <span asp-validation-for="Input.Email" class="text-danger mb-1"></span>
    
    <div class="mb-1 d-grid">
        <button type="submit" class="btn btn-primary">@Localizer.Text("Submit")</button>
    </div>
</form>