@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer.Text("Forgot password confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer.TextIgnoreCase("Please check your email to reset your password.")
</p>

