@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = Localizer.Text("Register confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer.TextIgnoreCase("Please check your email to confirm your account.")
</p>