@page
@model ResetPasswordModel
@{
    ViewData["Title"] = Localizer.Text("Reset password");
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-1"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.Email" class="form-control" />
        <label asp-for="Input.Email" class="form-label"></label>
    </div>
    <span asp-validation-for="Input.Email" class="text-danger mb-1"></span>
    
    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.Password" class="form-control" />
        <label asp-for="Input.Password" class="form-label"></label>
    </div>
    <span asp-validation-for="Input.Password" class="text-danger mb-1"></span>
    
    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
    </div>
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger mb-1"></span>
    
    <div class="d-grid"><button type="submit" class="btn btn-primary">@Localizer.Text("Reset")</button></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptPartial" />
}
