@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer.Text("Reset password confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer.Text("Your password has been reset.") 
    <a asp-page="./Login">@Localizer.Text("click here to log in")</a>.
</p>
