@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = Localizer.Text("Resend email confirmation");
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger mb-1"></div>
    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.Email" class="form-control"/>
        <label asp-for="Input.Email" class="form-label"></label>
    </div>
    <span asp-validation-for="Input.Email" class="text-danger mb-1"></span>
    
    <div class="d-grid"><button type="submit" class="btn btn-primary">@Localizer.Text("Resend")</button></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptPartial"/>
}